@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~rewind-uikit/dist/style.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  * {
    @apply border-primary 
  }
  body {
    @apply bg-secondary text-primary
  }
}

.auth {
  @apply flex-center min-h-screen w-full bg-secondary;
}

.root {
  @apply flex min-h-screen w-full flex-col bg-white md:flex-row;
}

.root-container {
  @apply flex-1 overflow-auto mt-16 py-8 md:mt-0 md:max-h-screen md:py-10
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .wrapper {
    @apply max-w-5xl mx-auto px-5 md:px-10 w-full text-primary p-16-regular;
  }

  .flex-center {
    @apply flex justify-center items-center
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .h1-semibold {
    @apply text-[36px] font-semibold sm:text-[44px] leading-[120%] sm:leading-[56px];
  }

  /* 36 */
  .h2-bold {
    @apply text-[30px] font-bold md:text-[36px] leading-[110%];
  }

  /* 30 */
  .h3-bold {
    @apply font-bold text-[30px] leading-[140%];
  }

  /* 24 */
  .p-24-bold {
    @apply font-bold text-[24px] leading-[120%];
  }

  /* 20 */
  .p-20-semibold {
    @apply font-semibold text-[20px] leading-[140%];
  }

  .p-20-regular {
    @apply font-normal text-[20px] leading-[140%];
  }

  /* 18 */
  .p-18-semibold {
    @apply font-semibold text-[18px] leading-[140%];
  }

  /* 16 */
  .p-16-semibold {
    @apply font-semibold text-[16px] leading-[140%];
  }

  .p-16-medium {
    @apply font-medium text-[16px] leading-[140%];
  }

  .p-16-regular {
    @apply font-normal text-[16px] leading-[140%];
  }

  /* 14 */
  .p-14-medium {
    @apply font-medium text-[14px] leading-[120%];
  }

  /* 10 */
  .p-10-medium {
    @apply font-medium text-[10px] leading-[140%];
  }

  .select-field {
    @apply w-full border border-primary/50 shadow-sm shadow-primary/15 h-[50px] md:h-[54px] text-primary p-16-semibold disabled:opacity-100 placeholder:text-primary/50 px-4 py-3 focus:ring-offset-0 focus-visible:ring-transparent focus:ring-transparent focus-visible:ring-0 focus-visible:outline-none !important;
  }

  .select-trigger {
    @apply flex items-center  gap-2 py-5 capitalize focus-visible:outline-none;
  }

  .select-item {
    @apply py-3 cursor-pointer hover:bg-primary hover:text-secondary;
  }

  .input-field {
    @apply border border-primary/50 w-full p-2 shadow-sm shadow-primary/15 text-primary disabled:opacity-100 p-16-semibold focus-visible:ring-offset-0 focus-visible:ring-transparent !important;
  }

  .media-uploader_cta {
    @apply flex-center flex h-72 cursor-pointer flex-col gap-5 border border-dashed bg-info/20 shadow-inner;
  }

  .media-uploader_cta-image {
    @apply bg-white p-5 shadow-sm shadow-info/50;
  }

  .media-uploader_cldImage {
    @apply h-fit min-h-72 w-full border border-primary/20 bg-info/10 object-cover p-2;
  }

  .transformed-placeholder {
    @apply flex-center p-14-medium h-full min-h-72 flex-col gap-5 border border-dashed bg-info/20 shadow-inner;
  }

  .collection-card {
    @apply flex flex-1 cursor-pointer flex-col gap-5 border border-primary/20 bg-secondary p-4 shadow-xl shadow-primary/10 transition-all hover:shadow-primary/20;
  }

  .search {
    @apply flex w-full border border-primary/20 bg-white px-4 shadow-sm shadow-primary/15 md:max-w-96;
  }

  .transforming-loader {
    @apply flex-center absolute left-[50%] top-[50%] size-full -translate-x-1/2 -translate-y-1/2 flex-col gap-2 border bg-primary/90;
  }

}